.sliderContainer {
    position: relative; 
    display: flex; 
    align-items: center;
}

.swiper {
    width: 90%; 
}

.prevButton,
.nextButton {
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: $p-c;
    top: 50%; 
    border: 2px solid $p-c; 
    border-radius: 50%; 
    cursor: pointer; 
    z-index: 100; 
    opacity: 0.9;
    transition: all 0.1s ease-in-out;
}

.prevButton {
    left: 5px; 
    &:active {
        transform: scale(0.9);
        opacity: 1;
    }
}

.nextButton {
    right: 5px; 
    &:active {
        transform: scale(0.9);
        opacity: 1;
    }
}
