.product_detail {
    display: flex;
    // justify-content: space-evenly;
}

.product_name {
    display: flex;
    flex-direction: column;
    font-size: medium;
    h2 {
        font-weight: 300;
    }
    h4 {
        font-weight: 300;
    }
}
.product_remove {
    button {
        border: none;
        background: none;
        font-family: $Lora;
        font-size: 17px;
        
    }
    button:hover {
        text-decoration: underline;
        cursor: pointer;
      
    }
}
.product_detail {
    color: black;
}
.product_image {
    height: 150px;
    width: auto;
}
.product_data {
    display: flex;
    flex-direction: row;
}

.product_quantity {
    display: flex;
}
.product_name2 {
    display: flex;
}
.product_detail {
    margin: 20px;
}
