@use "sass:color";

.Store {
    min-height: calc(100vh - 20px);
    padding-top: 80px;
    position: relative;
    display: flex;

    .sideBar {
        background: $s-c;
        position: fixed;
        width: 300px;
        height: 100%;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        z-index: 7;

        h2 {
            font-size: 20px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            border-bottom: 0.7px solid $p-c;
        }
        .price {
        }
        .sortData {
            margin-bottom: 20px;

            select {
                width: 100%;
                padding: 10px;
                background: transparent; 
                color: $d-c; 
                border: 1px solid $p-c; 
                border-radius: 4px; 
                font-size: 16px; 
                cursor: pointer; 

                option {
                    background: #000000; 

                    color: $d-c; 
                    padding: 10px; 
                }

                &:hover {
                    border-color: darken($p-c, 10%); 
                }
            }
        }
    }

    .products {
        position: relative;
        width: 100%;
        padding: 30px 20px;
        padding-left: 320px;
        float: right;

        .search {
            position: absolute;
            right: 30px;
        }

        .heading {
            h1 {
                font-family: $Bitter;
                font-size: 46px;
                font-weight: 500;
                margin-bottom: 30px;
                margin-left: 20px;
            }
            h2 {
                font-family: $Bitter;
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 25px;
                margin-left: 20px;
            }
        }

        .productItems {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .item {
                flex: 0 0 calc(30%);
                margin-bottom: 60px;

                @media (max-width: 1200px) {
                    flex: 0 0 calc(45%);
                }

                @media (max-width: 768px) {
                    flex: 0 0 calc(100%);
                }
            }
        }
    }
}
