.navbar {
    background: $radial-bcg;
    position: fixed;
    width: 100%;
    top: 0;
    color: $d-c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 60px;
    user-select: none;
}

.active {
    color: $p-c;
}

.logo {
    height: 60px;
    padding: 0;

    img {
        height: 100%;
    }
}

.NavItems {
    display: flex;
    align-items: center;
    gap: 30px;

    li {
        display: flex;
        align-items: center;
    }
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;

    &:hover {
        opacity: 0.9;
    }
}
