// src/styles/_variables.scss

// Colors Background-colors
$p-bcg: #201431;
$p-c: #f5f5f5;
$d-bcg: #000000;
$d-c: #f5f5f5;
$l-bcg: #f5f5f5;
$l-c: #000000;
$radial-bcg: radial-gradient(circle, #1b092d 0%, #201431 53%, #000000 100%);

// Fonts
$Roboto: "Roboto", sans-serif;
$Bitter: "Bitter", serif;
$Mulish: "Mulish", sans-serif;
$Aleo: "Aleo", serif;
$Nunito: "Nunito Sans", sans-serif;
$Zeyada: "Zeyada", cursive;
$Fredericka: "Fredericka the Great", serif;
