@import "./_variables"; // Import variables at the top

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    min-height: 100vh;

    font-family: $Roboto;

    // Light Theme
    background-color: $d-bcg;
    color: $d-c;

    // Dark Theme
    &[data-theme="dark"] {
        background-color: $l-bcg;
    }
}

#root {
    min-height: 100vh;
}

a {
    text-decoration: inherit;
    color: inherit;
}

ul {
    list-style: none;
}
